# blink.service -- version 28-Aug-2016
# See https://github.com/fordsfords/network-active/tree/gh-pages
[Unit]
Description=start blink after boot
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/network-active.sh

[Install]
WantedBy=default.target
