# network-active.service -- version 28-Aug-2016
# See https://github.com/fordsfords/network-active/tree/gh-pages
[Unit]
Description=wait for network to be active
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/network-active.sh

[Install]
WantedBy=default.target
